* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);

  --Libre-Franklin: "Libre Franklin", sans-serif;

  --text-lg-ft: 700 2em/150% var(--Libre-Franklin);
  --text-lg: 600 2em/150% var(--Libre-Franklin);
  --text-md: 500 1.2em/150% var(--Libre-Franklin);
  --text-sm: 300 1.1em/150% var(--Libre-Franklin);
}