body {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#content {
  max-width: 90vw;

  #content-header {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    .logo-image {
      width: 60px;
      margin: auto;
      padding-bottom: 10px;
    }

    .content-title {
      padding-block: 15px;
      font: var(--text-lg);
      color: var(--Very-Dark-Blue);
      
      span {
        color: var(--Gray);
      }
    }

    .content-description {
      padding: 5px 0 20px;
      font: var(--text-md);
      color: var(--Very-Dark-Blue);
      opacity: .6;
    }

    .form-content {
      max-width: 100%;
      display: grid;
      gap: 10px;

      #form-email, #form-button {
        padding: 10px;
        border-radius: 30px;
        border: 2px solid var(--Pale-Blue);
        font: var(--text-md);
      }

      #form-email {
        opacity: .5;
      }

      .error-message {
        color: var(--Light-Red);
        font: var(--text-sm);
        font-style: italic;
        margin-right: 5px;
        display: none;
      }

      #form-button {
        background-color: var(--Blue);
        color: var(--Pale-Blue);
        cursor: pointer;
      }
      
      #form-button:hover {
        color: white;
        background-color: hsl(232, 100%, 63%);
      }
    }

    .form-row {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: flex-start;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  #content-main {
    display: grid;
    margin-block: 20px;
    
    .dash-image {
      width: 300px;
      justify-self: center;
    }
  }

  #content-footer {
    text-align: center;
    
    .social-icons {
      display: grid;
      grid-template-columns: repeat(3,auto);
      gap: 20px;
      justify-self: center;
      align-items: center;
      margin-bottom: 10px;
      
      a {
        cursor: pointer;
        
        img {
          max-width: 20px;
          border: 1px solid var(--Pale-Blue);
          border-radius: 50%;
        }
      }
    }

    .rights {
      font: var(--text-sm);
      color: var(--Very-Dark-Blue);
    }
  }
}

@media screen and (min-width: 1024px) {
  #content {
    #content-header {

      .logo-image {
        width: 90px;
      }

      .content-title {
        font-size: clamp(2rem, 2.2rem + 1.666vw, 3rem);
      }

      .content-description {
        font-size: clamp(1.2rem, 1.2rem + 1.666vw, 1.8rem);
      }
      
      .form-content{
        width: 800px;
        justify-content: center;
        
        #form-email, #form-button {
          padding: 15px;
          display: grid;
          font-size: clamp(1.2rem, 1rem + 1.666vw, 1.6rem);
        }

        #form-email {
          width: 500px;
        }

        #form-button {
          width: 250px;
        }
      }
    }

    #content-main {
      margin-block: 20px;

      .dash-image {
        width: 800px;
      }
    }
  }
}