body {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#content {
  max-width: 90vw;

  #content-header {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    .logo-image {
      width: 60px;
      margin: auto;
      padding-bottom: 10px;
    }

    .content-title {
      padding-block: 10px;
      font: var(--text-lg);
      color: var(--Very-Dark-Blue);
      
      span {
        color: var(--Gray);
      }
    }

    .content-description {
      padding: 5px 0 20px;
      font: var(--text-md);
      color: var(--Very-Dark-Blue);
      opacity: .6;
    }

    .form-content {
      display: grid;
      height: 120px;
      align-items: flex-start;

      #form-email, #form-button {
        padding: 10px;
        border-radius: 30px;
        border: 2px solid var(--Pale-Blue);
        font: var(--text-md);
      }

      .input-wrapper {
        width: 300px;
        opacity: .5;

        #form-email {
          width: 100%;
        }
      }

      .error-message {
        color: var(--Light-Red);
        font: var(--text-md);
        font-style: italic;
        margin-top: 5px;
        display: none;
      }

      #form-button {
        width: 100%;
        background-color: var(--Blue);
        color: var(--Pale-Blue);
        cursor: pointer;
      }
      
      #form-button:hover {
        color: white;
        background-color: hsl(232, 100%, 63%);
      }
    }

    .form-row {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  #content-main {
    display: grid;
    margin-block: 20px;
    
    .dash-image {
      width: 300px;
      justify-self: center;
    }
  }

  #content-footer {
      .social-icons {
      display: grid;
      grid-template-columns: repeat(3,auto);
      gap: 20px;
      justify-self: center;
      align-items: center;
      margin-bottom: 10px;
      
      a {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px 30px;
        border-radius: 50%;
        border: 1px solid var(--Pale-Blue);
        cursor: pointer;
        transition: background-image 0.3s ease;
      }

      .icon-facebook {
        background-image: url('../images/icon-facebook.svg');
      }

      .icon-facebook:hover {
        background-image: url('../images/icon-state-facebook.svg');
      }

      .icon-twitter {
        background-image: url('../images/icon-twitter.svg');
      }

      .icon-twitter:hover {
        background-image: url('../images/icon-state-twitter.svg');
      }

      .icon-instagram {
        background-image: url('../images/icon-instagram.svg');
      }

      .icon-instagram:hover {
        background-image: url('../images/icon-state-instagram.svg');
      }
    }

    .rights {
      font: var(--text-sm);
      color: var(--Very-Dark-Blue);
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  #content {
    #content-header {

      .logo-image {
        width: 80px;
      }

      .content-title {
        font-size: clamp(2rem, 2.2rem + 1.666vw, 3rem);
      }

      .content-description {
        font-size: clamp(1.2rem, 1.2rem + 1.666vw, 1.8rem);
      }
      
      .form-content{
        width: 800px;
        height: 60px;
        justify-content: center;
        
        #form-email, #form-button {
          padding: 15px;
          display: grid;
          font-size: clamp(1.2rem, 1rem + 1.666vw, 1.6rem);
        }

        .input-wrapper {
          width: 500px;
        }

        .error-message {
          justify-self: flex-start;
          margin-left: 20px;
        }

        #form-button {
          width: 250px;
          align-self: flex-start;
        }
      }

      .form-row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }

    #content-main {
      margin-block: 20px;

      .dash-image {
        width: 800px;
      }
    }
  }
}